.footer__input {
  margin: 0;
  grid-area: input;
  border: 0;
  height: 32px;
  border-radius: 30px;
  padding: 0 0 0 20px;
  font-size: 12px;
  line-height: 12px;
  background: var(--footer-input-background);
  color: var(--footer-input-color);
}
