.footer__button {
  grid-area: attach;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  background-color: var(--footer-button-background-color);
  cursor: pointer;
  background-image: url("../../../vendor/images/attach.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  position: relative;
  border-radius: 50%;
}
