.chat__container {
  display: grid;
  grid-template-columns: 47px 1fr 30px;
  grid-template-rows: 14px 16px 16px;
  grid-template-areas:
    "image title time"
    "image text counter"
    "image text counter";
  column-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
