.avatar__label {
  width: 100%;
  height: 100%;
}

.avatar__label:hover::before {
  content: "";
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: var(--profile-avatar-hover-before-background-color);
  opacity: 0.3;
  z-index: 100;
}
