.button {
  cursor: pointer;
  display: flex;
  background: var(--button-background);
  border: 1px solid var(--button-background);
  border-radius: 8px;
  width: 280px;
  height: 37px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: var(--button-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}