.back__button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: auto;
  padding: 0;
  background: var(--back-button-background);
  background-image: url(../../../vendor/images/back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back__button:hover {
  cursor: pointer;
}