.board__header {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  height: 54px;
  border-bottom: solid 1px var(--board-header-border-bottom);
  display: flex;
  align-items: center;
}