.message__container {
  display: flex;
  flex-direction: column;
  max-width: 402px;
  background: var(--message-container-background);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 11px;
}