.popup__label {
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: var(--popup-label-color);
  padding: 0;
  margin: 43px auto 0;
  width: 122px;
}
