.sidebar__profile {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  color: var(--sidebar-profile-color);
  width: 100%;
  height: 46px;
  margin: 10px 0 0;
  padding: 20px 10px;
  box-sizing: border-box;
  justify-content: flex-end;
  text-decoration: none;
}
