.sidebar__icon {
  display: flex;
  padding: 0;
  margin: 0 0 0 8px;
  width: 8px;
  height: 12px;
  background-image: url("../../../vendor/images/right.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
