.chat {
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
}

.chat {
  border-bottom: solid 1px var(--card-last-child-border-bottom-color);
}

.chat:first-child {
  border-top: solid 1px var(--card-last-child-border-bottom-color);
} 