.header__link {
  display: flex;
  padding: 0;
  margin: auto;
  grid-area: link;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url(../../../vendor/images/add.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: var(--header-link-background-color);
  border: 2px solid #3369F3;
  cursor: pointer;
}