html {
  --background: #fafafa;
  --chat-sidebar-background: #fff;
  --chat-container: #e4edfd;
  --background-cards: #f4f4f4;
  --list-value-color: #999;
  --list-label-color: #1e1e1e;
  --profile-title-color: #1e1e1e;
  --color: #1e1e1e;
  --border: #fafafa;
  --chat-container-active: #E4EDFD;
  --card-title-color: #1e1e1e;
  --chat-from-you: #999;
  --error-text-color: #1e1e1e;
  --footer-text-color: #1e1e1e;
}

html[data-theme="dark"] {
  --background: #161616;
  --chat-sidebar-background: #323232;
  --chat-container: #222;
  --background-cards: #222;
  --list-value-color: #999;
  --list-label-color: #d6d6d6;
  --profile-title-color: #d6d6d6;
  --color: #d6d6d6;
  --border: #fafafa;
  --chat-container-active: #161616;
  --card-title-color: #d6d6d6;
  --chat-from-you: #999;
  --error-text-color: #999;
  --footer-text-color: #999;
}

.root {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  background-color: var(--background);

  --button-background: #3369f3;
  --button-boreder: #3369f3;
  --button-background-color: #fbfbfb;
  --button-border-right: solid 1px #eaeaea;
  --button-color: #fff;
  --card-counter-background: #3369f3;
  --card-counter-color: #fff;
  --card-image-background: #efefef;
  --card-text-color: #999;
  --card-time-color: #999;

  --card-last-child-border-bottom-color: #eaeaea;
  --card-border-top-color: #eaeaea;
  --chat-sidebar-border-right: solid 1px #eaeaea;
  --board-header-border-bottom: #eaeaea;
  --board-footerborder-top: #eaeaea;
  --error-code-color: #1e1e1e;
  --error-link-color: #3369f3;

  --footer-button-background-color: #fff;
  --footer-button-send-background: #3369f3;
  --footer-input-background: #efefef;
  --footer-input-color: #999;

  --header-link-background-color: #f5f5f5;
  --header-image-background: #efefef;
  --identity-background: #fff;
  --inbox-label-color: #999;
  --inbox-input-border-color: #3369f3;
  --inbox-input-border-color-error: red;
  --inbox-input-color: #999;
  --link-color: #3369f3;
  --list-item-border-bottom-color: #eaeaea;
  --message-color: #1e1e1e;
  --message-container-to-background: #e4edfd;
  --message-container-background: #f8f8f8;
  --message-time-color: #999;
  --message-time-read-color: #3369f3;
  --popup-button-background: #3369f3;
  --popup-button-color: #fff;
  --popup-form-background: #fff;
  --popup-label-color: #3369f3;
  --popup-title-color: #1e1e1e;
  --popup-before-background-color: #000;
  --profile-avatar-background-color: #efefef;
  --profile-avatar-hover-before-background-color: #000;
  --profile-avatar-hover-after-color: #fff;
  --profile-link-logout-color: #f00;
  --profile-link-color: #3369f3;
  --sidebar-profile-color: #999;
  --sidebar-search-background: #efefef;
  --sidebar-search-border-color: #efefef;
  --sidebar-search-color: #999;
  --back-button-background: #3369f3;
}
