.inbox__label {
  font-size: 13px;
  line-height: 13px;
  color: var(--inbox-label-color);
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
