/* .inbox__input {
  display: flex;
  height: 13px;
  margin: 0;
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #3369F3;
} */

.inbox__input {
  font-family: Inter;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  /* border-bottom: 1px solid rgba(0, 0, 0, .2); */
  border: 1px solid #3369F3;
  height: 25px;
  width: 100%;
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  line-height: 17px;
}

.inbox__input:focus {
  outline: none;
}

.inbox__input:focus:valid ~ .inbox__label, 
.inbox__input:valid ~ .inbox__label {
    top: -12px;
    font-size: 9px;
    color:#999;
}

.inbox__input:focus:invalid ~ .inbox__label_error-empty {
  top: -12px;
  font-size: 8px;
}

.inbox__input:-webkit-autofill,
.inbox__input:-webkit-autofill:hover,
.inbox__input:-webkit-autofill:focus,
.inbox__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}