.inbox__input {
  margin: 0;
  border: 1px solid var(--inbox-input-border-color);
  height: 25px;
  width: 100%;
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  line-height: 17px;
}
.inbox__input:focus {
  outline: none;
}

.inbox__input:focus:valid ~ .inbox__label, 
.inbox__input:valid ~ .inbox__label {
  top: -12px;
  font-size: 9px;
  color: var(--inbox-input-color);
}

.inbox__input:focus:invalid ~ .inbox__label_error-empty {
  top: -12px;
  font-size: 8px;
}

.inbox__input:-webkit-autofill,
.inbox__input:-webkit-autofill:hover,
.inbox__input:-webkit-autofill:focus,
.inbox__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}