.error-boundary {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
}
