.footer__text {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  padding: 0;
  margin: 0;
  color: var(--footer-text-color);
}