.card {
  height: 70px; 
  border-top: solid 1px var(--card-border-top-color);

  display: grid;
  grid-template-columns: 47px 1fr 25px;
  grid-template-rows: 12px 14px 16px 16px 12px; 
  grid-template-areas: 
                      "top top top"
                      "image title time"
                      "image text counter"
                      "image text counter"
                      "bottom bottom bottom";
  column-gap: 10px;
}

.card:last-child {
  border-bottom: solid 1px var(--card-last-child-border-bottom-color);
}