.card {
  height: 70px; 
  border-top: solid 1px #EAEAEA;

  display: grid;
  grid-template-columns: 47px 1fr 25px;
  grid-template-rows: 14px 1fr 1fr; 
  grid-template-areas: "image title time"
                       "image text gap"
                       "image text counter";
}