.profile__avatar {
  display: flex;
  align-items: center;
  align-self: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #efefef;
  background-image: url(../../../vendor/images/default.svg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.profile__avatar:hover::before {
  content: '';
  display: flex;
  flex-direction: column;
  justify-self:center;
  justify-content: center;
  cursor: pointer;
  height: 130px;
  width: 130px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--profile-avatar-hover-before-background-color);
  opacity: 0.5;
}

.profile__avatar:hover::after {
  content: 'Поменять аватар';
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-self:center;
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-size: 13px;
  line-height: 14px;
  color: var(--profile-avatar-hover-after-color);
  height: 28px;
  width: 64px;
  position: absolute;
  padding-left: 33px;
  padding-right: 33px;
}