.profile__avatar {
  display: flex;
  align-self: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #efefef;
  position: relative;
}

.profile__avatar:hover::after {
  /*content: "Поменять аватар";*/
  /*cursor: pointer;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-self: center;*/
  /*justify-content: center;*/
  /*text-align: center;*/
  /*font-style: normal;*/
  /*font-size: 90%;*/
  /*line-height: 100%;*/
  /*color: var(--profile-avatar-hover-after-color);*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*padding-left: 33px;*/
  /*padding-right: 33px;*/
}

.visually-hidden {
  display: none;
}
