.error__link {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: var(--error-link-color);
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}