.message__container_to {
  display: flex;
  background: var(--message-container-to-background);
  border-bottom-left-radius: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12;
}