.message__time_read {
  color: var(--message-time-read-color);
  position: relative;
}

.message__time_read:before {
  position: absolute;
  content: "";
  display: flex;
  height: 4px;
  width: 9px;
  padding: 0;
  margin: 0;
  left: -12px;
  bottom: 2px;
  background-image: url(../../../../vendor/images/ok.svg);
  background-repeat: no-repeat;
  background-size: 9px 4px;
}