.board__main {
  display: flex;
  flex-direction: column-reverse;
  font-size: 14px;
  color: var(--sidebar-profile-color);
  margin: 10px 20px;
  overflow: auto;
  align-self: center;
  height: calc(100vh - 128px);
  width: calc(100% - 40px);
  grid-area: main;
  justify-items: flex-end;
  box-sizing: border-box;
  padding: 0 10px 0 0;
}
