.board__main {
  /* width: auto; */
  display: flex;
  flex-direction: column;
;
  font-size: 14px;
  color: var(--sidebar-profile-color);
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

  /* max-height: 560px; */
  /* max-height: calc(100vh - 140px); */

  overflow: auto;
  align-self: center;
  height: calc(100vh - 128px);
  width: calc(100% - 40px);
  grid-area: main;
}
