@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
/* root */
@import url(./blocks/root/root.css);
/* identity */
@import url(./blocks/identity/identity.css);
@import url(./blocks/identity/__form/identity__form.css);
@import url(./blocks/identity/__title/identity__title.css);
/* inbox */
@import url(./blocks/inbox/inbox.css);
@import url(./blocks/inbox/__bar/inbox__bar.css);
@import url(./blocks/inbox/__input/inbox__input.css);
@import url(./blocks/inbox/__label/inbox__label.css);
@import url(./blocks/text-field/__input-error/text-field__input-error.css);

/* button */
@import url(./blocks/button/button.css);
@import url(./blocks/button/_signup/button_signup.css);
/* link */
@import url(./blocks/link/link.css);
/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__link/profile__link.css);
@import url(./blocks/profile/__menu/profile__menu.css);
@import url(./blocks/profile/__link/_logout/profile__link_logout.css);
/* list */
@import url(./blocks/list/list.css);
@import url(./blocks/list/__item/list__item.css);
@import url(./blocks/list/__label/list__label.css);
@import url(./blocks/list/__value/list__value.css);
@import url(./blocks/list/__value/_input/list__value_input.css);
/* nav */
@import url(./blocks/back/back.css);
@import url(./blocks/back/__button/back__button.css);
/* chat */
@import url(./blocks/chat/chat.css);
@import url(./blocks/chat/__sidebar/chat__sidebar.css);
@import url(./blocks/chat/__board/chat__board.css);
/* sidebar */
@import url(./blocks/sidebar/sidebar.css);
@import url(./blocks/sidebar/__profile/sidebar__profile.css);
@import url(./blocks/sidebar/__icon/sidebar__icon.css);
@import url(./blocks/sidebar/__search/sidebar__search.css);
/* board */
@import url(./blocks/board/board.css);
@import url(./blocks/board/__header/board__header.css);
@import url(./blocks/board/__footer/board__footer.css);
@import url(./blocks/board/__main/board__main.css);
/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__image/header__image.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__text/header__text.css);
/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__form/footer__form.css);
@import url(./blocks/footer/__button/footer__button.css);
@import url(./blocks/footer/__button/_send/footer__button_send.css);
@import url(./blocks/footer/__input/footer__input.css);
/* message */
@import url(./blocks/message/message.css);
@import url(./blocks/message/_to/message_to.css);
@import url(./blocks/message/__container/message__container.css);
@import url(./blocks/message/__container/_to/message__container_to.css);
@import url(./blocks/message/__content/message__content.css);
@import url(./blocks/message/__time/message__time.css);
@import url(./blocks/message/__time/_read/message__time_read.css);
/* card */
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__text/card__text.css);
@import url(./blocks/card/__time/card__time.css);
@import url(./blocks/card/__counter/card__counter.css);
/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__button/popup__button.css);
/* error */
@import url(./blocks/error/error.css);
@import url(./blocks/error/__code/error__code.css);
@import url(./blocks/error/__link/error__link.css);
@import url(./blocks/error/__text/error__text.css);
