.list__value_input {
  padding: 5px 0 0;
  border: 0;
  background-color: var(--background);
}

.list__value_input:focus {
  outline: none;
}

.list__value_input:-webkit-autofill,
.list__value_input:-webkit-autofill:hover,
.list__value_input:-webkit-autofill:focus,
.list__value_input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
