.popup {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 0.5s ease-out;
  visibility: hidden;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.popup::before {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--popup-before-background-color);
  content: "";
  opacity: 0.5;
  z-index: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

.menu-button {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  align-items: center;
  cursor: pointer;
}

.button__label {
  margin: 0 0 0 15px;
  padding: 0;
}

.users {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 5px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid #efefef;
  border-radius: 3px;
  box-sizing: border-box;
}

.item:hover {
  background-color: #fbfbfb;
}

.item__avatar {
  height: 30px;
  width: 30px;
  margin: 0 10px 0 0;
  padding: 0;
}

.item__name {
  width: calc(100% - 80px);
  margin: 0;
  padding: 0;
  text-align: left;
}

.item__button {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
}
