.popup {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: .5s ease-out;
  visibility: hidden;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  position: fixed;
}

.popup:before {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--popup-before-background-color);
  content: "";
  opacity: .5;
  z-index: 0;
}