.back {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 64px;
  top: 0;
  left: 0;
  background-color: var(--button-background-colo);
  border-right: solid 1px var(--button-border-right);
}